.btn{
    display: block;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 0;
}

.btn-primary{
    background-color: blue;
    color: black;
}

.btn-success{
    background-color: rgb(105, 122, 149);
    color: whitesmoke;
    font-weight: bold;
}